@font-face {
  /* https://github.com/ipython/xkcd-font/blob/master/LICENSE */
  font-family: 'XKCD-Script';
  src: url('/fonts/xkcd-script.woff') format('woff'),
       url('/fonts/xkcd-script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 